<section class="cake-top main">
  <h3 class="title text-center">マイページ</h3><br>
  
		<h4 class="text-center way-label">登録情報</h4><br>
      <div class="col-md-offset-5">
			<button type="button" class="btn btn-primary">
				<%= link_to '編集する', edit_public_end_users_path, :style => "color:white;" %>
			</button>
			<button type="button" class="btn btn-primary">
				<%= link_to ' パスワードを変更する', edit_end_user_registration_path, :style => "color:white;" %>
			</button>
      </div><br>

    <table class="transaction col-md-offset-4">
      <tbody>
          <tr>
            <th>氏名</th>
            <th><%= current_end_user.last_name + current_end_user.first_name %></th>
          </tr>
          <tr>
            <th>カナ</th>
            <th><%= current_end_user.last_name_kana %><%= current_end_user.first_name_kana %></th>
          </tr>
          <tr>
            <th>郵便番号</th>
            <th><%= current_end_user.postal_code %></th>
          </tr>
          <tr>
            <th>住所</th>
            <th><%= current_end_user.address %></th>
          </tr>
          <tr>
            <th>電話番号</th>
            <th><%= current_end_user.phone_number %></th>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <th><%= current_end_user.email %></th>
          </tr>
      </tbody>
    </table><br>

    <h4 class="text-center">
      <span class="way-label"> 配送先　</span>
      <span>
        <span class="way-label"> 注文履歴</span>
      </span><br><br>
    <button type="button" class="btn btn-success">
      <%= link_to "一覧を見る", public_shipping_addresses_path, :style => "color:white;" %>
    </button>
    <span>
      <button type="button" class="btn btn-success">
      <%= link_to "一覧を見る", public_orders_path, :style => "color:white;" %>
      </button>
    </span>
    </h4>
</section>