<div class="container main">
  <div class="row">
    <%= form_for(@item_new, url: admin_items_path, method: :post) do |f| %>
      <div class="col-xs-3 col-xs-offset-2">
        <h3>商品新規登録</h3>
        <%= f.attachment_field :image %>
      </div>
      <div class="col-xs-5 itempage">
        <div class="form-group">
          <label class="edit-u", for="item_name">商品名</label>
          <%= f.text_field :name, class: "edit-user", :style=>"width:150px;" %>
        </div>
        <div class="form-group">
          <label class="edit-u", for="item_introduction">商品説明</label>
          <%= f.text_area :introduction, class: "edit-user", :style=>"width:150px;" %>
        </div>
        <div class="form-group">
          <label class="edit-u", for="genre">ジャンル</label>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, class: "edit-user", :style=>"width:150px;" %><br>
        </div>
        <div class="form-group">
          <label class="edit-u", for="not_taxprice">税抜価格</label>
          <%= f.text_field :not_taxprice, class: "edit-user", :style=>"width:150px;" %>円<br>
        </div>
        <div class="form-group">
          <label class="edit-u", for="sale_status">販売ステータス</label>
          <%= f.select :is_sale_status, [['販売中',false],['販売停止中',true]], { include_blank: true, selected: 0 } %><br>
        </div>
        <div class="col-xs-3 col-xs-offset-8">
          <%= f.submit "新規登録", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>