<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <table>
        <tr><th>ジャンル検索</th></tr>
        <% @genres.each do |g| %>
          <tr><td><%= link_to g.name, public_genre_path(g.id) %></td></tr>
        <% end %>
      </table>
    </div>


    <div class="col-xs-9">
      <div id="theTarget">
        ようこそ、NaganoCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </div>

      <h4 class="headline">オススメ商品</h4>
        <% @items.each do |item| %>
        <div class="item-box">
          <div class="box-inline">
            <%= link_to public_item_path(item.id) do %>
              <%= attachment_image_tag item, :image, format: 'jpeg', class: "", fallback: "noimage.jpg", size: "200x160" %>
            <% end %><br>
            <%= item.name %>
            税抜<%= item.not_taxprice %>円
          </div>
        </div>
        <% end %>

    </div>
  </div>
</div>