<div class="container">
  <h2>注文履歴詳細</h2>
  <div class="row mt-1">
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>購入者</td>
          <td><%= link_to @order.end_user.name, admin_end_users_path(@end_user) %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>
            <%= @order.address %><br>
            <%= @order.address_name %>
          </td>
        </tr>
        <tr>
          <td>支払い方法</td>
          <td><%= @order.payment_way %></td>
        </tr>
        <tr>
          <td>注文ステータス</td>
          <td>
            <%= form_with model: @order do |f| %>
              <%= f.select :select, Order.selects.keys.to_a, include_blank: false %>
              <%= f.submit "更新" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row mt-1">
    <% @orders.each do |o| %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= o.order_item.item.name %></td>
              <td><%= o.order_item.tax_price %></td>
              <td><%= o.order_item.number %></td>
              <td><%= (o.order_item.tax_price * o.order_item.number) %></td>
              <td>
                <%= form_with model: @order_item do |f| %>
                  <%= f.select :select, OrderItem.productions.keys.to_a, include_blank: false %>
                  <%= f.submit "更新" %>
                <% end %>
              </td>
              <td></td>
            </tr>
        </tbody>
      </table>
      <p><span>商品合計</span><%= o.sub_total_price %> </p>
      <p><span>送料</span><%= o.send_price %> </p>
      <p><span>請求金額合計</span><%= ( o.sub_total_price + o.send_price ) %></p>
    <% end %>
  </div>
</div>