<div class="container-field">
  
  <div class="row">
    
 <div class="col-md-4 col-md-offset-4">
  <h2>パスワード再発行</h2>
 
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワード再発行" %>
  </div>
<% end %>


</div>
</div>
</div>
