<div class="container main">
  <div class="row">
    <h3 class="text-center">配送先登録/一覧</h3><br>

      <div class="text-center">
      <%= form_for(@shipping_address_new, url: public_shipping_addresses_path, method: :post) do |f| %>
        　郵便番号(ハイフンなし)<%= f.text_field :postal_code, class: "form-control col-md-offset-5", :style=>"width:220px;" %>
        　住所<%= f.text_field :address, class: "form-control col-md-offset-5", :style=>"width:220px;" %>
        　宛名<%= f.text_field :address_name, class: "form-control col-md-offset-5", :style=>"width:220px;" %><br>
        <%= f.submit "登録する", class: "btn btn-success btn-outline-danger mx-auto" %>
      <% end %>
      </div><br>

      <table class="shipping-table col-md-offset-3">
      	<tr>
      	  <th>郵便番号</th><th>住所</th><th>宛名</th><th></th>
      	</tr>
      	<% @shipping_addresses.each do |shipping_address| %>
      	  <tr>
            <td><%= shipping_address.postal_code %></td>
            <td><%= shipping_address.address %></td>
            <td><%= shipping_address.address_name %></td>
            <td>
            <span class="shipping-span">
              <button class="btn btn-primary btn-sm">
                <%= link_to "編集する", edit_public_shipping_address_path(shipping_address), :style=>"color:white;" %>
              </button>
            </span>
            <span>
              <button class="btn btn-danger btn-sm">
                <%= link_to "削除する", public_shipping_address_path(shipping_address), method: :delete, "data-confirm" => "本当に削除しますか？", :style=>"color:white;" %>
              </button>
            </span>
            </td>
       	  </tr>
       	<% end %>
      </table>
      
  </div>
</div>