<div class="container main">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>会員情報 詳細</h2>
      <table class="user-info">
        <tbody>
          <tr>
            <th class="user-t">顧客ID</th>
            <th>
              <%= @end_user.id %> 
              <% if @end_user.is_withdrawal == true %>
                <div class="withdrawal">退会済み</div>
              <% else %>
                <div class="withdrawal">有効会員</div>
              <% end %>
            </th>
          </tr>
          <tr>
            <th class="user-t">氏名</th>
            <th>
              <%= @end_user.last_name %>
              <%= @end_user.first_name %>
            </th>
          </tr>
          <tr>
            <th class="user-t">フリガナ</th>
            <th>
              <%= @end_user.last_name_kana %>
              <%= @end_user.first_name_kana %>
            </th>
          </tr>
          <tr>
            <th class="user-t">郵便番号</th>
            <th><%= @end_user.postal_code %></th>
          </tr>
          <tr>
            <th class="user-t">住所</th>
            <th><%= @end_user.address %></th>
          </tr>
          <tr>
            <th class="user-t">電話番号</th>
            <th><%= @end_user.phone_number %></th>
          </tr>
          <tr>
            <th class="user-t">メールアドレス</th>
            <th><%= @end_user.email %></th>
          </tr>
        </tbody>
      </table>
      <div class="col-xs-6 col-xs-offset-4">
        <%= link_to "注文履歴一覧を見る", admin_orders_path, class: "btn btn-primary mt-5" %>
        <%= link_to "編集する", edit_admin_end_user_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>



            