<div class="container">
  <div class="row">
    <h2>会員情報 詳細</h2>
  </div>

  
      <table class="table">
        <tbody>
          <tr>
            <td>顧客ID</td>
            <td><%= @end_user.id %>
              <% if @end_user.is_withdrawal == true %>
                  有効会員
              <% else %>
                  退会済み
              <% end %>
             
               </td>
               </tr>

                <tr>
            <td>氏名</td>
            <td><%= @end_user.last_name %>
              <%= @end_user.first_name %></td>
          </tr>
           <tr>
            <td>フリガナ</td>
            <td><%= @end_user.last_name_kana %>
              <%= @end_user.first_name_kana %></td>
          </tr>
           <tr>
            <td>郵便番号</td>
            <td><%= @end_user.postal_code %></td>
          </tr>

          <tr>
            <td>住所</td>
            <td><%= @end_user.address %></td>
          </tr>

          <tr>
            <td>電話番号</td>
            <td><%= @end_user.phone_number %></td>
          </tr>

          <tr>
            <td>メールアドレス</td>
            <td><%= @end_user.email %></td>
          </tr>

          </tbody>
      </table>
    </div>

     <div class="col-sm-3 my-auto">
      <%= link_to "編集する", edit_admin_end_user_path, class: "btn btn-primary" %>
      <%= link_to "注文履歴一覧を見る", edit_admin_end_user_path, class: "btn btn-primary mt-5" %>
    </div>

  </div>
</div>



            