<div class="container">
  <h2>注文履歴一覧</h2>
  <div class="row mt-1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |o| %>
          <tr>
            <td><%= o.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td><%= o.address %></td>
            <td>
              <% o.items.each do |i| %>
                <li>
                  <%= i.name %>
                </li>
              <% end %>
            </td>
            <td><%= o.toral_price %></td>
            <td><%= o.select %></td>
            <td><%= link_to "表示する", "#" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>