<div class="container">
  <div class="row">
    <%= flash[:order_new] %>
  <h3>注文情報入力</h3>
    <h4><strong>　支払い方法</strong></h4>
      <%=form_tag(order_confirm_path, method: :post) do %>
        <%= radio_button_tag :payment_way, :クレジットカード %>
        <%= label_tag :payment_way, "クレジットカード" %><br>
        <%= radio_button_tag :payment_way, :銀行振込 %>
        <%= label_tag :payment_way, "銀行振込" %><br><br>

    <h4><strong>　お届け先</strong></h4>
      <div class="address-form">        
        <%= radio_button_tag :select, :my_address %>
        <%= label_tag :select, "ご自身の住所", {value: :my_address} %><br>
        <% address = current_end_user.postal_code + current_end_user.address + current_end_user.last_name + current_end_user.first_name %>
        <%= address %><br>

        <%= radio_button_tag :select, :select_address %>
        <label class="order-address">登録済住所から選択</label><br>
        <%= select_tag :address, options_for_select(@shipping_addresses.map do |shipping|
            ["〒" + shipping.postal_code + "  " + shipping.address + "  " + shipping.address_name, shipping.id]end) %><br>

        <%= radio_button_tag :select, :new_address %>
        <label class="order-address">新しいお届け先</label>
          <%= form_for(@shipping_address_new, url: public_shipping_addresses_path, method: :post) do |f| %>
        郵便番号(ハイフンなし)<%= f.text_field :postal_code, class: "form-control", :style=>"width:150px;" %>
        住所<%= f.text_field :address, class: "form-control", :style=>"width:600px;" %>
        宛名<%= f.text_field :address_name, class: "form-control", :style=>"width:150px;" %>
        <%= f.submit "登録する", class: "btn btn-success" %>
      <% end %><br><br><br>

      <%= submit_tag "確認画面へ進む", class: "btn btn-primary" %>
     <% end %>
     </div>

  </div>
</div>