<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

    <div class="col-xs-3">
      <table>
      	<tr><th>ジャンル検索</th></tr>
        <% @genres.each do |g| %>
      	  <tr><td><%= link_to g.name, public_genre_path(g.id) %></td></tr>
        <% end %>
      </table>
    </div>
    <div class="col-xs-9">
    	<h2 class="title">商品一覧</h2>
      <% @items.each do |item| %>
      <div class="shadow-lg p-3 mb-5 bg-light rounded">
        <div class="img_wrap">
        <div class="item-box">
          <div class="box-inline">
              <%= link_to public_item_path(item.id) do %>
                <%= attachment_image_tag item, :image, format: 'jpeg', class: "", size: "160x140" %>
              <% end %><br>
              <%= link_to item.name, public_item_path(item.id) %><br>
              <%= item.not_taxprice %>円(税抜)
          </div>
        </div>
      </div>
    </div>
      <% end %>

    </div>
  </div>
</div>
</div>

