<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  	<nav class="nav navbar-nav navbar-left">
  	  <div class="logo"><img src="assets/logo.jpg" width="17%" height="20%"></div>
  	</nav>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<% if end_user_signed_in? %>
					<li>ようこそ、<%= current_end_user.first_name %><%= current_end_user.last_name %>さん!</li>
					<li>
						<button type="button" class="btn btn-danger">
							<%= link_to ' マイページ', public_end_users_path, :style => "color:white;" %>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-danger">
							<%= link_to ' 商品一覧', public_items_path, :style => "color:white;" %>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-danger">
							<%= link_to ' カート', public_cart_items_path, :style => "color:white;" %>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-danger">
							<%= link_to ' ログアウト', destroy_end_user_session_path, method: :delete, :style => "color:white;" %>
						</button>
					</li>
				<% else %>
					<li><%= link_to ' About', public_homes_about_path, {class: "glyphicon"} %></li>
					<li><%= link_to ' 商品一覧',public_items_path, {class: "glyphicon"} %></li>
					<li><%= link_to ' 新規登録', new_end_user_registration_path, {class: "glyphicon"} %></li>
					<li><%= link_to ' ログイン', new_end_user_session_path, {class: "glyphicon"} %></li>
				<% end %>
			</ul>
		</nav>
  </div>
</nav>